:root {
  --rtc-text-color: white;
}

header {
  background-color: var(--rtc-corporate-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1000;
}

header .logo {
  width: 100px; 
  height: auto;
  object-fit: contain;
  cursor: pointer;
  margin-left: 0.5px;
}

body {
  padding-top: 60px;
}

nav.navbar {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  gap: 1.5rem;
}

nav li a {
  font-size: 17px;
  font-weight: 600;
  color: var(--rtc-text-color);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffe600;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: var(--rtc-text-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav.navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background-color: rgb(7, 136, 136);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: none;
    padding: 1rem 0;
    z-index: 998;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  nav ul.show {
    display: flex;
  }

  nav li a {
    width: 100%;
    text-align: center;
    padding: 12px 0;
  }

  .header-btns {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
}
.header-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
}