.field-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.field-form > input {
  border-radius: 6px;
  border: none;
  text-align: center;
  padding: 8px 10px;
}